# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle tut'
      'command': 'tut:toggle'
    },
    {
      'label': 'Log'
      'command': 'tut:toggle-log'
    },
    {
      'label': 'Info'
      'command': 'tut:toggle-info'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'tut'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'tut:toggle'
        },
        {
          'label': 'Log'
          'command': 'tut:toggle-log'
        },
        {
          'label': 'Info'
          'command': 'tut:toggle-info'
        }

      ]
    ]
  }
]
